//Header for Home Page
header{
  margin: 0 auto 0 auto;
  padding: 25px 0 25px 0;
  color: $primary-color;
  font-family: $main-font;
  h1{
    font-weight: 700;
    font-size: 4.5em;
    letter-spacing: 3px;
  }
}


